name: Docker Image CI

on:
  push:
    branches: [ "develop" ]
    paths: 
      - "ms-customers/**"
  pull_request:
    branches: [ "develop" ]
    paths: 
      - "ms-customers/**"

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
